.App {
  text-align: center;
}

.main {
  padding: 70px 150px;
}

input {
  margin-bottom: 30px;
  padding: 10px 20px;
  outline: none;
  border-radius: 2px;
  width: 200px;
}

.content {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 60px;
}

.box {
  width: 200px;
  height: 150px;
  border: 1px solid black;
  padding: 4px;
}

img {
  width: 200px;
  height: 200px;
}
